@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Shantell+Sans:ital,wght@0,300;1,300&display=swap');

h1{
    text-align: center;
    font-family: 'Shantell Sans', cursive;

}
.required{
    font-family: 'Shantell Sans', cursive;
    text-align: left;
}

body{
    text-align: center;
    background-color: antiquewhite;
}
input{
    margin-top: 40px;
    border-radius: 20px;
}
select{
    margin-top: 40px; 
    border-radius: 20px; 
}
.btn{
    background-color: coral;
    margin-top: 40px;
    border-radius: 30px;
}

a{
    background-color: coral;
    color:#212529;
    border-radius: 40px;
    border-width: 50px;
}

a{

}

