{% extends 'base.html.twig' %}

{% block title %}Edit Coches{% endblock %}

{% block body %}
    <h1>Edit Coches</h1>

    {{ include('coches/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_coches_index') }}">back to list</a>

    {{ include('coches/_delete_form.html.twig') }}
{% endblock %}
